### Maven ###
target/
.mvn/settings.xml
dependency-reduced-pom.xml

### Spring ###
/src/main/resources/application-local.properties

### IntelliJ IDEA ###
.idea/
*.iml

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.sts4-cache

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### Appliation Specifics ###
/src/main/resources/credentials
/.idea/
